.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .profile__info {
    align-items: center;
    margin-left: 32px;
  }
}
