.popup__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  padding-top: 30px;
}
