.header__info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
@media screen and (max-width: 450px) {
  .header__info {
    flex-direction: column;
    align-items: center;
    justify-self: start;
  }
}
