.profile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 33px;
}

@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
