.profile__edit-button {
  background-image: url('../../../images/Profile_Button.svg');
  display: flex;
  align-self: flex-start;
  background-size: cover;
  background-size: 10px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 37px;
  background-color: transparent;
}

@media screen and (max-width: 400px) {
  .profile__edit-button {
    margin-left: 0;
    margin-top: 7px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    margin-left: 10px;
  }
}
