.popup__container {
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .popup__container {
    max-width: 280px;
    margin: 0 19px;
    padding: 25px 22px;
  }
}
