.profile__add-button {
  /* position: absolute; */
  cursor: pointer;
  background: none;
  padding: 0;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  position: relative;
}

.profile__add-button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 62px;
  right: 62px;
  z-index: 5;
}
.profile__add-button::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 12px;
  bottom: 12px;
  z-index: 5;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    height: 50px;
    width: 100%;
  }
  .profile__add-button::after {
    left: 131px;
    right: 131px;
  }
  .profile__add-button::before {
    top: 15px;
    bottom: 15px;
  }
}
